<h1>Write a review</h1>

{{#if errors.length}}
<p>Couldn't create the review because:</p>
<ul class="error-list">
    {{#each errors}}
    <li>{{this}}</li>
    {{/each}}
</ul>
{{/if}}
<form action="/reviews" method="post">
    <input type="hidden" name="_csrf" value={{csrfToken}}>
    <div>
        Heroes Name: <input type="text" name="heroesName" value="{{heroesName}}" id="heroesName" required>
    </div>
    <div>
        Your name: <input type="text" name="name" value="{{name}}" id="name" required>
    </div>
    <div>
        Rating:
        <select name="rating" id="rating">
            <option value= 1 > 1 </option>
            <option value= 2 > 2 </option>
            <option value= 3 selected> 3 </option>
            <option value= 4 > 4 </option>
            <option value= 5 > 5 </option>
        </select>
    </div>
    <div>
        <h4>Description: </h4>
        <textarea name="description" value="{{description}}" rows="5" cols="30" id="description"> </textarea>
    </div>
    <div>
        <input type="submit" role="button" value="Post review">
    </div>
</form>